.menu {
    width: 100%;
    display: table;
}
.menu ul {
    display: table-row;
}
.menu li {
    background: #062034;
    display: table-cell;
    padding: 6.5em 1em 14.8em;
    text-align: center;
    font-size: 1.3em;
    font-family: verdana, arial, sans-serif;
}
.menu ul li:hover, .menu a:hover
{
    background: #37474f;
    cursor: pointer;
    color: white;
}
img
{
    display: block;
}
