<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" th:href="@{/css/site.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/menuStyle.css" th:href="@{/css/menuStyle.css}" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="menu">
    <ul>
        <li onclick="window.location.href = '/authorization'">Авторизация</li>
        <li onclick="window.location.href = '/registration'">Регистрация</li>
    </ul>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>